<form method="POST">
    <div class="flexColumn">
        <label>
            <b>
                Titre evenement (facultatif)
            </b>
        </label>
        <span>
            <input type="text" name="title" id="title" placeholder="saisir..."/>
            <input type="submit" id='submit' value="valider"/>
        </span>
    </div>
    <div>
        <input type="submit" id='sortDateCroissant' value="trier par date croissant"/>
        <input type="submit" id='sortDateDecroissant' value="trier par date decroissant"/>
        <input type="submit" id='sortTitre' value="trier par titre"/>
    </div>
</form>
<div id="res"></div>